.footer {
  padding: 90px 0 20px;
  text-transform: uppercase;
  .container {
    max-width: 1366px;
  }
}
.footer-item-col {
  padding: 0;
  // margin-top: 10px;
  p {
    a {
      min-width: 199px;
      padding: 12px 10px;
    }
  }
  ul {
    padding: 2px;
    margin-top: -7px;
  }
  li {
    @include font($jt, 0.875rem, $white);
    margin-bottom: 11px;
  }
  h5 {
    @include font(null, 0.875rem, $blue, 600);
  }
}
.footer-logo {
  img {
    max-width: 181px;
  }
}
.col-menu-footer {
  padding: 0 10px;
}
.footer-copyright {
  @include sizeEx(308px, 27px);
  @include font($ssp, 10px, $white);
}
.social {
  margin: 25px 0;
  .icomoon {
    color: $white;
  }
}

@include media-breakpoint-up(lg) {
  .col-menu-footer {
    padding: 0 10px;
    max-width: calc(20% - 63px);
  }
  .col-contact {
    margin-left: 35px;
  }

}
@include media-breakpoint-down(lg) {
  .footer {
    padding: 0;
  }
  .footer-logo {
    background-color: $white;
    img {
      margin-left: -20%;
      padding: 24px 9px 14px 22px;
    }
    margin: 0 auto;
    max-width: 206px;
    margin-bottom: 45px;
  }
  .footer-item-col {
    text-align: center;
    h5 {
      @include font(null, 1rem, #229ad6, 500);
    }
  }

  .btn {
    min-width: 294px;
    padding: 12px 0;
    @include font($jt, 14px, null, 600);
  }
  .btn-footer {
    padding: 0 30px;
  }
  .footer-login {
    input {
      margin: 10px 0;
      padding: 7px 101px;
    }
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
  }
  .social {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
