.footer {
  padding: 90px 0 20px;
  text-transform: uppercase;
  .container {
    max-width: 1362px;
  }
}
.footer-item-col {
  padding: 0;
  p {
    a {
      margin-top: 20px;
      min-width: 199px;
      padding: 12px 10px;
    }
  }
  ul {
    padding: 2px;
  }
  li {
    @include font($jt,.875rem,$white);
    margin-bottom: 11px;
  }
  h5 {
    @include font(null,.875rem,$blue,600);
  }
}
.footer-logo {
  img {
    max-width: 181px;
  }
}
.col-menu-footer {
  padding: 0 10px;
}
.footer-copyright {
  @include sizeEx(308px, 27px);
  @include font($ssp, 10px, $white);
}
.social {
  .icomoon {
    color: $white;
  }
}

@include media-breakpoint-down(lg) {
  .footer {
    padding: 0;
  }
  .footer-logo {
    background-color: $white;
    img {
      margin-left: -20%;
    }
    margin: 0 auto;
    max-width: 206px;
    margin-bottom: 65px;
  }
  .footer-item-col {
    text-align: center;
    p {
      a {
        min-width: 294px;
        padding: 12px 0;
        @include font($jt, 14px, null, 600);
      }
    }
    h5 {
      @include font(null,1rem,#229ad6,500);
    }
  }
  .footer-login {
    input {
      margin: 10px 0;
      padding: 7px 101px;
    }
  }
  .footer-copyright {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .social {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
