.header {
  @include position(fixed, 0, 0, null, 0, 9999);
  @extend %add-tr;
  background-color: $white;
  &.pin-header {
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
  }
}

.header-logo {
  max-width: 200px;
}

@include media-breakpoint-down(lg) {
  .header {
    // .navbar {
    //   display: block;
    //   width: 100%;
    // }
    .icon-close {
      color: $blue;

    }
  }
  .header-mobile {
    padding: 28px 0;
  }
  .header-logo {
    max-width: 200px;
    padding-left: 15px;
  }

  html.is-open-menu,
  html.is-open-menu body {
    overflow: hidden;
    height: 100%;
  }

  html.is-open-menu {
    body {
      @include position(absolute, 0, 0, null, 0, null);

    }
    .header {
      // bottom: 0;
      // overflow-y: auto;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header {
    position: absolute;
  }
}
