.header {
  @include position(fixed, 0, 0, null, 0, 9999);
  @extend %add-tr;
  background-color: $white;
  &.pin-header {
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
  }
}

.header-logo {
  max-width: 200px;
}

@include media-breakpoint-down(lg) {
  .header {
    padding: 0;
    background: $darkblue;
    .navbar {

      display: block;
      width: 100%;
      max-width: 2000px;
    }
    .icon-close {
      color: $blue;

    }
  }
  .header-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -20px -17px;
    padding: 45px 4px 24px;
    background-color: $white;
    // max-width: 100%;
    button {
      padding: 17px 16px 0 0;
    }
  }
  .header-logo {
    max-width: 130px;

  }

  html.is-open-menu,
  html.is-open-menu body {
    overflow: hidden;
    height: 100%;
  }

  html.is-open-menu {
    body {
      @include position(absolute, 0, 0, null, 0, null);

    }
    .header {
      bottom: 0;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header {
    position: absolute;
  }
}
