.main-menu-ul {
  padding: 1.875rem 0;
  .row > ul,
  .menu-child {
    padding-left: 15px;
  }

  > li {
    font-size: 1.3em;

    // text-transform: uppercase;
    > a {
      padding: 5px 0;
    }
  }

  li {
    position: relative;
    line-height: 1.2em;

    a {
      display: block;
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &.active {
      color: $link-color;
    }
  }
}

.main-menu-dropdown {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  font-size: 1em;

  .container {
    padding: 0;
  }

  .nav-item-arrows {
    top: -5px;
  }

  ul {
    li {
      color: $gray-900;
    }

    a {
      // padding: 10px 15px;
    }
  }

  li {
    font-size: .85em;
  }

  .menu-child {
    display: none;
  }

  .open-menu-child {
    .menu-child {
      display: block;
    }

    .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.hamburger-menu {
  padding: 0;

  cursor: pointer;
  background: $white;

  .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    background: $blue;
    position: relative;
    margin-left: auto;

    + .icon-bar {
      margin-top: 7px;
    }
  }

  .icomoon {
    font-size: 2em;
    display: none;
  }

  &.is-open-menu {
    .icomoon {
      display: block;
      color: $blue;
    }
    .icon-bar {
      display: none;
    }
  }
}

.nav-item-arrows {
  @include position(absolute, 0, -8px, null, null, 1);
  color: inherit;
  font-size: 1em;
  padding: 16px;
  cursor: pointer;
}

@include media-breakpoint-down(lg) {
  .is-open-child {
    .main-menu-dropdown {
      display: block;
    }

    > .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  .main-menu {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .2s;
    padding-left: 41px;
    .menu-search {
      input {
        padding: 1px 58px;
        margin-bottom: 30px;
        background: transparent;
        border: solid 1px $white;
        color: $white;
        max-width: 294px;
      }
      .icomoon {
        margin: 10px 0 0 -23px;
        position: absolute;
        color: $white;
      }
    }
    .menu_location {
      ul {
        margin-left: -30px;
      }
      a {
        @include font($jt,13px,$white);
      }
    }
    li {
      color: white;
    }
    // .menu-btn {
    //   margin-top: -10px;
    // }
    .menu-login {
      .btn-outline-info {
        padding: 7px 126px;
        max-width: 294px;
      }
      .btn-primary {
        padding: 7px 94px;
        max-width: 294px;
      }
    }
    .main-menu-ul {
      width: 100%;
    }

    &.is-open-menu {
      max-height: 2000px;
      width: 100%;
      visibility: visible;
      overflow: hidden;
      transition: .5s;
      background: $darkblue;
    }
  }
}
