.main-menu-ul {
  padding: .875rem 0;
  > li {
    font-size: 1.3em;
  }

  li {
    position: relative;
    line-height: 1.2em;

    a {
      display: block;
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &.active {
      color: $link-color;
    }
  }
}

.main-menu-dropdown {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  font-size: 1em;

  .container {
    padding: 0;
  }

  .nav-item-arrows {
    top: -5px;
  }
  li {
    font-size: .85em;
  }

  .menu-child {
    display: none;
  }

  .open-menu-child {
    .menu-child {
      display: block;
    }

    .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.hamburger-menu {
  padding: 0;

  cursor: pointer;
  background: $white;

  .icon-bar {
    display: block;
    @include sizeEx(34px,3px);
    background: $blue;
    position: relative;
    margin-left: auto;

    + .icon-bar {
      margin-top: 7px;
    }
  }

  .icomoon {
    font-size: 2em;
    display: none;
  }

  &.is-open-menu {
    .icomoon {
      display: block;
      color: $blue;
    }
    .icon-bar {
      display: none;
    }
  }
}

.nav-item-arrows {
  @include position(absolute, 0, -8px, null, null, 1);
  color: inherit;
  font-size: 1em;
  padding: 16px;
  cursor: pointer;
}

@include media-breakpoint-down(lg) {
  .is-open-child {
    .main-menu-dropdown {
      display: block;
    }
    > .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  .main-menu {
    width: 100%;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .2s;
    padding: 0 25px;
    .menu-search {
      input {
        padding: 6px 10px;
        margin-bottom: 30px;
        background: transparent;
        border: solid 1px $white;
        color: $white;
        min-width: 200px;
        width: 100%;
      }
      .icomoon {
        padding: 0;
        margin: 10px 0 0 -27px;
        border: none;
        background: transparent;
        top: 0;
        position: absolute;
        color: $white;
      }
    }
    .menu_location {
      column-count: 2;
      padding: 15px 0 5px;

      a {
        @include font($jt,13px,$white);

      }
    }
    li {
      color: white;
    }

    .menu-login {

      .btn-outline-info {
        padding: 7px 10px;
        min-width: 200px;
        width: 100%;
      }
      .btn-primary {
        padding: 7px 10px;
        min-width: 200px;
        width: 100%;
      }
    }
    .main-menu-ul {
      width: 100%;
      > li {
        font-size: 1.3em;
        text-transform: uppercase;
        > a:not(.btn) {
          padding: 15px 0;
          border-bottom: 1px solid $blue;
        }
      }
    }

    &.is-open-menu {
      max-height: 2000px;
      width: 100%;
      visibility: visible;
      overflow: hidden;
      transition: .5s;
      margin-top: 30px;
    }
  }
}
