---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home"{% endblock %}
{% block head %}
  {% include "layouts/loadcss-home.html" %}
  {% endblock %}
{% block content %}
<main id="main-content" class="main-content">
    {% include 'modules/mod-banner.html' %}
    {% include 'modules/mod-content-image.html' %}
    <div class="space-100"></div>
    {% include 'modules/mod-content-slide.html' %}
    {% include 'modules/mod-content-design.html' %}
    {% include 'modules/mod-content-icon.html' %}
    {% include 'modules/mod-content-about.html' %}
    {% include 'modules/mod-footer-content.html' %}
</main>
{% endblock %}
