// *:focus,
// button:focus,
// input:focus,
// *,
// input,
// button,
// *:active,
// input:active,
// button:active,
// option {
//   outline: none !important;
//   outline: 0 !important;
// }

html {
  margin: 0 auto;
  background-color: $black;
}

body,
html {
  overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    @extend %link-inhert;
    font-style: normal;
    font-weight: inherit;
    text-decoration: none;

    // &:hover,
    // &:focus {
    //   text-decoration: none !important;
    // }
  }
}

ol,
ul {
  li {
    margin-bottom: 0;
    list-style: none;

  }
}

label {
  margin-bottom: 0;
}

.bold,
b,
strong {
  font-weight: 700;
}
a {
  transition: .25s all;
  &:hover {
    transition: .25s all;
  }
}
.h1,
h1
 {
  font-weight: 300;
  line-height: 1.04;
  letter-spacing: -.33px;
}
.h2,
h2 {
  font-weight: 300;
  line-height: 1.08;
  letter-spacing: 1px;
  color: $blue-1e;
}
.h3,
h3 {
  font-family: $ssp;
  line-height: 1.38;
  letter-spacing: .31px;
  color: $blue-1e;
}
.h4,
h4 {
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: .14px;
  color: $blue-1e;
}
.h5,
h5 {
  line-height: 1.42;
}
.h5,
h6 {
  line-height: 1.35;
  letter-spacing: .5px;
}

.bd-p2 {
  @include font($ssp,18px,$darkblue);
  line-height: 1.5;
  letter-spacing: -.12px;
}


