// *:focus,
// button:focus,
// input:focus,
// *,
// input,
// button,
// *:active,
// input:active,
// button:active,
// option {
//   outline: none !important;
//   outline: 0 !important;
// }

html {
  margin: 0 auto;
  background-color: $black;
}

body,
html {
  overflow-x: hidden;

}
body {
  @include font($ssp,18px,#1e5091, normal, normal);
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    @extend %link-inhert;
    font-style: normal;
    font-weight: inherit;
    text-decoration: none;

    // &:hover,
    // &:focus {
    //   text-decoration: none !important;
    // }
  }
}

ol,
ul {
  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

label {
  margin-bottom: 0;
}

.bold,
b,
strong {
  font-weight: 700;
}
a {
  transition: .25s all;

  @include font($jt,16px,$blue, 500, normal);

  &:hover {
    transition: .25s all;
  }
}
h1 {
  @include font($jt,50px,$black, 300px, normal);
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: -0.33px;
}
h2 {
  @include font($jt,36px,$black, 300px, normal);
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 1px;
}
h3 {
  @include font($ssp,26px,$black, normal, normal);
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.31px;
}
h4 {
  @include font($jt,28px,$black, 600, normal);
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 0.14px;

}
h5 {
  @include font($jt,24px,$black, 600, normal);
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
}
h6 {
  @include font($jt,20px,$black, normal, normal);
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.5px;
}

p {
  @include font($ssp,16px,$black, normal, normal);
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
}


