.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  letter-spacing: 0.19px;
  border: $btn-border-width solid transparent;
  padding: .375rem .75rem;
}

.btn-outline-primary {
  color: $blue;
  border-color: $blue;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
}
.btn-primary {
  color: $white;
  background-color: $blue;
  border-color: $blue;
  &:hover,
  &:focus {
    color: $blue;
    background-color: $white;
    border-color: $white;
  }
}

.btn-outline-dark {
  color: $black;
  border-color: $black;
  background-color: Transparent;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}

.btn-outline-link {
  color: $white;
  border-color: $white;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $darkblue;
    background-color: $white;
    border-color: $white;
  }
}

.btn-outline-info {
  color: $blue;
  border-color: $blue;
  background-color: Transparent;

  &:hover,
  &:focus {
    color: $darkblue;
    background-color: $info;
    border-color: $info;
  }
}
//darkblue

.btn-outline-darkblue {
  color: $blue;
  border-color: $blue;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $dark0a;
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.text-center {
  .btn {
    margin: 0 5px 10px;
  }
}

//btn boder_left

.button-secondary-info {
  @include font($jt,1rem, $blue, 600);
  line-height: 1.4;
  letter-spacing: .19px;
  border-left: 1px solid $info;
  &:focus,
  &:hover {
    border-left: 1px solid $darkblue;
  }
}
.button-secondary-dark {
  @include font($jt,1rem, $black, 600);
  line-height: 1.4;
  letter-spacing: .19px;
  border-left: 1px solid $black;
  &:focus,
  &:hover {
    border-left: 1px solid $blue;
    color: $blue;
  }
}
.button-secondary-link {
  @include font($jt,1rem, $white, 600);
  line-height: 1.4;
  letter-spacing: .19px;
  border-left: 1px solid $white;
  &:focus,
  &:hover {
    color: $blue;
    border-left: 1px solid $blue;
  }
}

.button-secondary-primary {
  @include font($jt,1rem, $blue, 600);
  line-height: 1.4;
  letter-spacing: .19px;
  border-left: 1px solid $blue;
  &:focus,
  &:hover {
    color: $white;
    border-left: 1px solid $white;
  }
}

//buton rounded-circle

.rounded-circle {
  @include sizeEx(39px);
  border-radius: 50%;
  border: 1px solid;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;

  cursor: pointer;

  background-color: transparent;
}
