<!-- <footer id="footer" class="module footer bg-black text-white">
  <div class="container footer-top">
    <div class="row">
      {% for i in [1, 2, 3] %}
      <div class="footer-item-col col-lg-3 col-6">
        <h5>
          <a href="#">About Us</a>
        </h5>
        <ul class="list-unstyled footer-menu">
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
        </ul>
      </div>
      {%endfor%}
      <div class="footer-item-col col-lg-3 col-6">
        <h5>
          <a href="#">Contact </a>
        </h5>
        <address>
          <a href="mailto:mailname@gmail.com">mailname@gmail.com</a>
          <br />
          US Office
          <a href="tel:+12819944600">+352 269 763 07</a>
        </address>
        <address>
          <a href="mailto:mailname@gmail.com">mailname@gmail.com</a>
          <br />
          US Office
          <a href="tel:+12819944600">+352 269 763 07</a>
        </address>
        <div class="social">
          {% include "modules/global/social.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center last-mb-none">
    <p class="footer-copyright">
      Copyright © 2018-2019 9thWonder |
      <a href="#">Private Policy</a> |
      <a href="#">Disclaimer</a>
    </p>
  </div>
</footer> -->

<footer id="footer" class="module footer bg-black d-flex">
      <div class="container">
        <div class="footer-logo">
            <!-- <img src="" alt=""> -->
        </div>
        <div class="footer-item-col ">
          <ul class="list-unstyled footer-menu">
            <li>
              <a href="#">SOLUTIONS</a>
            </li>
            <li>
              <a href="#">LOCATIONS</a>
            </li>
            <li>
              <a href="#">RESOURCES</a>
            </li>
            <li>
              <a href="#">ABOUT</a>
            </li>
            <li>
              <a href="#">CONTACT</a>
            </li>
          </ul>
        </div>
        <div class="social">
          {% include "modules/global/social.html" %}
        </div>
        <div class="footer-login">
          <input type="submit" class="btn btn-outline-info" value="TAKE A TOUR">
          <input type="submit" class="btn btn-primary" value="TAKE A TOUR">
        </div>
        <div class="container text-center last-mb-none">
          <span class="footer-copyright">
            ©2020 STACK Infrastructure | Privacy Policy | Terms of Use
          </span>
        </div>

      </div>
</footer>
