@include media-breakpoint-up(lg) {
  .header {
    padding: 42px 4.5vw 50px 3.5vw;
    .navbar {
      max-width: 2000px;
    }
  }
  .header-mobile {
    width: 100%;
    img {
      max-width: 178px;
    }
  }
}
