@include media-breakpoint-up(lg) {
  .main-menu-ul {
    @include position(absolute, 5px, 0, null, null, null);
    > li {
      > a {
        border-right: 1px solid $blue;
        padding: 0 20px;
      }
      &:hover {
        .main-menu-dropdown {
          display: block;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .main-menu-ul > li {
    > a {
      padding: 1px 2.9vw;
    }
    .btn {
      padding: 11px;
      min-width: 199px;
      font-size: 1.125rem;
      margin-top: -8px;
      margin-left: 65px;
    }
  }
}
@media (max-width: 1600px) {
  .main-menu-ul > li {
    > a {
      padding: 8px 1.5vw;
    }
  }
}
