@include media-breakpoint-up(lg) {

  .main-menu-ul {
    top: 0;
    right: 0;
    position: absolute;

    >li {
      font-size: em;

      >a{
        padding: 10px 15px;
        color: $blue;
        border-right: 1px solid $blue;

      }
      &:hover {
        .main-menu-dropdown {
          display: block;
        }
      }
    }

    // .mega-dropdown {
    //   position: static;
    // }
  }


}

@include media-breakpoint-up(xl) {
  .main-menu-ul>li {
    >a {
      padding: 0 30px;
    }
    .btn {
      padding: 5px 47px;
      font-size: 16px;
    }
  }
  .main-menu-ul {
    // padding: 3rem 0;
  }
}
