<!-- module 'Mod Content Design' -->
<section class="module mod-content-design">
  <div class="container">
    <div class="design-content">
      <div class="row">
        <div class="col-lg-6  design-text">
          <div class="design-text-title">
            <h5>STACK BASIS OF DESIGN</h5>
            <hr class="d-lg-none">
            <h5 class="h6">Our design methodology for build-to-suit data centers</h5>
            <hr class="d-lg-block d-none">
          </div>
          <!-- hide--only--lg -->
          <div class="d-lg-none  desgin-slide">
            <div class="ds-slide-img ps-rv slider-design">
              {% for item in [1,2,3] %}
              <div>
                <div>
                  <div class="bg bg-slide bg-desktop lazy  bg-center "
                    data-src="/assets/images/Phoenix_0110-Two-Story-Option-2-Day.jpg"></div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- hide--only--lg -->
          <div class="desgin-text-content bd-p2">

            {% for contentds in contentds %}
            <div class="ds-text-items last-mb-none">
              <h6>{{ contentds.title }}</h6>
              <p>{{ contentds.text }} </p>
            </div>
            {% endfor %}

          </div>
        </div>
        <div class="col-lg-6 d-none  d-lg-block desgin-slide">
          <div class="ds-slide-img ps-rv slider-design slider-lazy">
            {% for item in [1,2,3] %}
            <div>
              <div class="bg bg-slide bg-desktop lazy  bg-center "
                data-src="/assets/images/Phoenix_0110-Two-Story-Option-2-Day.jpg"></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
