// module 'Mod Content Icon'
.mod-content-icon {
  background-image: linear-gradient(164deg, #0a2035 45%, #1c467f 122%);
  position: relative;
}
.icon-title {
  hr {
    background-color: $blue;
    width: 100px;
  }
  p {
    padding: 30px 20px;
  }
}
.icon-content {
  .icon-item {
    h6 {
      color: $blue;
    }
  }
}
@include media-breakpoint-down(lg) {
  .mod-content-icon {
    padding: 60px 20px;
  }
  .icon-title {
    padding: 0 42px;
    hr {
      background-color: $blue;
      width: 100px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    p {
      padding: 0;
    }
    h2 {
      @include font($jt, 28px, $white, 600);
      line-height: 1.25;
      letter-spacing: .14px;
    }
  }
  .icon-content {
    .icon-item {
      h6 {
        @include font($jt, 16px, $blue, 600);
        line-height: 1.06;
      }
      p {
        @include font($ssp, 14px, $white);
        line-height: 1.29;
        letter-spacing: -.09px;
      }
    }
  }
}
