// module 'Mod Banner'

.mod-banner {
  @include position(relative, auto, null, null, null, 12);

  &::before {
    content: "";
    height: 100%;
    @include position(absolute, 0, 0, auto, 0, 2);
    @include background-size(cover);
    background-image: linear-gradient(to top, rgba(238, 238, 238, 0) -12%, $white 83%);
  }
  &::after {
    content: "";
    height: 100%;
    @include position(absolute, 0, 0, 0, 0, 1);
    @include background-size(cover);
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, $blue-1e 107%);
  }
  .container {
    @include position(relative, null, null, null, null, 2);
  }

}
@include media-breakpoint-down(lg) {
  .mod-banner {
    text-align: center;
  }
  .banner-content {
    padding: 180px 0 105px;
  }
  .banner-text {
    padding: 0 20px;
    margin-top: 50px;
  }
  .btn-banner {
    input {
      padding: 12px 20px;
      min-width: 271px;
      margin: 70px 0 56px;
      font-size: .875rem;
    }
    button {
      @include sizeEx(33px);
    }
  }
  .title_banner {
    img {
      max-width: 285px;
      @include sizeEx(100%, auto);
    }
  }
}
