// module 'Mod Content About'
.mod-content-about {
  padding: 100px 0;

  .about-note {
    border: 2px solid $darkblue;
    .about-note-text {
      padding: 0;
    }
  }

  .about-info {
    .about-tile {
      hr {
        width: 100px;
        background-color: $blue;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .about-note {
    margin: 0 41px;
    padding: 76px 30px;
    .about-note-text {
      #img-top {
        position: absolute;
        top: -100px;
        right: 40%;
      }
      #img-bottom {
        position: absolute;
        bottom: -120px;
        right: 40%;
      }
      h4 {
        @include font($jt, 22px, $darkblue, 600);
        line-height: 1.45;
        letter-spacing: .46px;
      }
    }
  }
  .img-about {
    background-image: url(../images/POR03-Option-1_Birds-Eye-768x412.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 157px;
    width: 100%;
  }
  .about-info {
    .about-tile {
      h5 {
        @include font($jt, 18px, $darkblue);
        line-height: 1.17;
        letter-spacing: -.12px;
        padding-right: 50px;
      }
      hr {
        margin-left: 0;
      }
    }
  }

  .about-slide {
    margin: 0 15px;
    box-shadow: 0 0 10px 5px #52a3e670;

    .ab-slide-info {
      padding-top: 25px;
      h4 {
        @include font($jt, 22px, $darkblue, 600);
        line-height: 1.09;
        letter-spacing: -.1px;
      }
      p {
        @include font($ssp, 16px, $darkblue);
        line-height: 1.44;
        letter-spacing: -.11px;
      }
    }
    .ab-slide-btn {
      a {
        color: $blue;
      }
      img {
        margin-top: 10px;
        max-width: 35px;
      }
    }
  }
  .card {
    padding: 28px 0 0;
    margin-top: 22px;
    margin-right: 12px;
    .card-body {
      padding: 5px 20px;
      h6 {
        @include font($jt, 18px,$white);
        margin-bottom: 40px;
      }
      a {
        @include font($jt,14px,$white);
      }
    }
  }
}
