// module 'Mod Banner'

.mod-banner {
  top: auto;
  max-width: 100%;

  position: relative;
  z-index: 5;
  &::after {
    content: "";
    position: absolute;

    top: auto;
    right: 0;
    bottom: 0;
    left: 0;


    height:100%;
    // @include background-size(cover);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, #1e5091 107%);
  }
  .container{
    z-index: 2;
    position: relative;
  }
  .banner-content {
    padding: 147px 45px 85px 0;
  }
  .banner-text {

    margin: 48px 1px 46px 23px;
  }
  .title_banner {
    img {
      margin-left: -44px;
    }
  }

}
@include media-breakpoint-down(lg) {
  .mod-banner {
    text-align: center;
    .banner-content {
      padding: 205px 0 105px;
      color: $black;
      p {
        @include font($jt,16px,$black);
        line-height: 1.31;
        letter-spacing: -.11px;
      }
    }
    .banner-text {
      padding: 0 8px;
    }
    .btn-banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        padding: 8px 20px;
        min-width: 271px;
        margin: 41px 0;
        font-size: 14px;
      }
      button {
        margin-top: 20px;
      }
    }
    .title_banner {
      img {
        padding-bottom: 8px;
      }
    }
  }

}
