// module 'Mod Content Design'
.mod-content-design {
  margin-top: 100px;
  background-color: #e4f3fa;
  .design-content {
    .design-text {
      .ds-text-items {
      }
      h6 {
        font-weight: 600;
        color: $black;
      }
      hr {
        width: 100px;
        margin: 25px 0;
        background-color: $blue;
      }
    }
    .desgin-slide {
      .dg-slide-btn {
        padding: 30px 0;
        letter-spacing: 10px;
      }
      button {
        color: $blue;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .mod-content-design {
    padding: 60px 0;
    .desgin-slide {
      .dg-slide-btn {
        padding: 30px 0;
        letter-spacing: 10px;
        text-align: center;
      }
    }
    .design-text {
      padding: 0;
      .design-text-title {
        padding: 0 46px;
        h5,
        h6 {
          @include font($jt, 18px, $darkblue);
          line-height: 1.17;
          letter-spacing: -.12px;
        }
        hr {
          margin-bottom: 20px;
          margin-top: 0;
        }
      }
      .ds-slide-img {
        img {
          min-height: 234px;
        }
      }
      .desgin-text-content {
        padding: 0px 45px;
        h6 {
          @include font($jt, 16px, $black, 600);
          line-height: .05;
        }
        p {
          @include font($ssp, 16px, $darkblue);
          line-height: 1.31;
          letter-spacing: -.11px;
        }
        .ds-text-items {
          padding: 11px 0;
        }
      }
    }
  }
}
