// module 'Mod About Note'
// module 'Mod Content About'
.mod-about-note {
  padding: 100px 0;
}
@include media-breakpoint-down(lg) {
  .about-note {
    margin: 0 26px;
    padding: 76px 30px;
    border: 2px solid $darkblue;
    .about-note-text {
      #img-top {
        @include position(absolute,-100px,40%,null,null);
      }
      #img-bottom {
        @include position(absolute,null,40%,-120px,null);
      }
      h4 {
        @include font($jt, 22px, $darkblue, 600);
        line-height: 1.45;
        letter-spacing: .46px;
      }
    }
  }
}
