// module 'Mod Content About'
.mod-content-about {
  padding: 100px 0;
}
hr {
  width: 100px;
  background-color: $blue;
}
@include media-breakpoint-down(lg) {
  .img-about {
    @include sizeEx(100%, 157px);
    z-index: 2;
  }
  .about-tile {
    hr {
      margin-left: 0;
    }
  }
  .about-slide {
    margin: 0 15px;
    box-shadow: 0 0 10px 5px #52a3e670;
  }
  .ab-slide-info {
    padding: 25px 0;
    h4 {
      @include font(null,null, $darkblue, 600);
      line-height: 1.09;
      letter-spacing: -.1px;
    }
  }
  .ab-slide-btn {
    a {
      color: $blue;
    }
    p {
      margin-top: 20px;
    }
    img {
      margin-top: 10px;
      max-width: 35px;
    }
  }
  .card {
    padding: 28px 0 0;
    margin-top: 22px;
    margin-right: 12px;
  }
  .card-body {
    padding: 5px 20px;
    h6 {
      font-size: rem(18);
      margin-bottom: 15px;
    }
    p {
      padding: 25px 0;
    }
    a {
      font-size: rem(14);
    }
  }
}
