// module 'Mod Content Image'

@include media-breakpoint-down(lg) {
  .content-slide {
    position: relative;
    min-height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
      @include font($jt, 1.75rem, $white, 600);
      letter-spacing: .14px;
      @include position(relative,0,0,0,8%,5);
    }
  }
  .text-slide {
    padding: 38px 12px 0 30px;
    max-width: 568px;
    hr {
      margin: 19px 0;
    }
  }
  .bg-image-mb {
    position: absolute;
    top: 0;
    right: -45px;
    bottom: 0;
    left: -45px;
  }
}
