// module 'Mod Banner'

@include media-breakpoint-down(sm) {
  .mod-banner {
    text-align: center;
    min-height: 620px;
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, #1e5091 107%);

    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      left: 0;
      opacity: 0.1;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: url(../images/locations_silicon-valley-expansion-svy02.jpg);
    }
    .banner-content {
      width: 375px;
      padding: 147px 45px 85px 0;
    }
    .banner-text {
      @include sizeEx(293px,123px);
      margin: 48px 1px 46px 23px;
    }
    .title_banner {
      background-image: url(../images/HyperStack-logo-horiz-300x40.png);
      @include sizeEx(330px,49px);
      margin: 0 0 48px;
      background-repeat: no-repeat;
    }
    .btn-banner {
      input {
        @include sizeEx(272px,46px);
        padding: 0 17px 0 13px;
        margin: 0 50px;
      }
    }
  }
}
