// module 'Mod Banner'

.mod-banner {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, #1e5091 107%);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    z-index: 1;
    background-image: url(../images/locations_silicon-valley-expansion-svy02.jpg);
  }
  .banner-content {
    width: 375px;
    padding: 147px 45px 85px 0;
  }
  .banner-text {
    @include sizeEx(293px, 123px);
    margin: 48px 1px 46px 23px;
  }
  .title_banner {
    background-image: url(../images/HyperStack-logo-horiz-300x40.png);
    @include sizeEx(330px, 49px);
    margin: 0 0 48px;
    background-repeat: no-repeat;
  }
  .btn-banner {
    input {
      padding: 8px 84px;
      margin: 0 50px;
    }
    button {
      margin: 20px 0 0 20px;
    }
  }
}
