// module 'Mod Banner'

.mod-banner {
  max-width: 100%;
  mix-blend-mode: multiply;
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, #1e5091 107%);
  position: relative;
  &::after {
    content: "";
    position: absolute;

    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;

    height: calc(100% - 55px);
    // @include background-size(cover);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    z-index: 1;
    background-image: url(../images/HyperStack-img.jpg);
  }
  .banner-content {
    padding: 147px 45px 85px 0;
  }
  .banner-text {

    margin: 48px 1px 46px 23px;
  }
  .title_banner {
    img {
      margin-left: -44px;
    }
  }

}
@include media-breakpoint-down(lg) {
  .mod-banner {
    text-align: center;
    .banner-content {
      padding: 205px 0 105px;
    }
    .btn-banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        padding: 8px 14px;
        min-width: 264px;
        margin-bottom: 20px;
      }
    }
  }

}
