// module 'Mod Banner'

.mod-banner {
  .banner-content {
    vertical-align: middle;
    height: 519px;
    display: table-cell;
  }
  @include position(relative, auto, null, null, null, 12);
  &::before {
    content: "";
    height: 100%;
    @include position(absolute, 0, 0, auto, 0, 2);
    @include background-size(cover);
    background-image: linear-gradient(to top, rgba(238, 238, 238, 0) -12%, $white 83%);
  }
  &::after {
    content: "";
    height: 100%;
    @include position(absolute, 0, 0, 0, 0, 1);
    @include background-size(cover);
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, $blue-1e 107%);
  }
  .container {
    @include position(relative, $index:2);
  }
  p {
    margin-bottom: 0
  }

}
@include media-breakpoint-down(lg) {
  .mod-banner {
    text-align: center;
    padding: 141px 0 14px;
  }
  .banner-content {
    img {
      max-width: 285px;
      width: 100%;
      margin-top: -135px;
    }
  }
  .banner-text {
    padding: 0 20px;
    margin-top: 50px;
    a {
      min-width: 271px;
    }
    .btn {
      margin: 86px auto 58px;
    }
  }
  .btn-banner {
    button {
      @include sizeEx(33px);
    }
  }
}
