// module 'Mod Content Slide'
.mod-content-slide {
  padding: 50px 0;
}
.slide-title {
  padding: 0 5px;
  width: 75%;
}

@include media-breakpoint-down(lg) {
  .mod-content-slide {
    padding: 50px 0;
    .slide-title {
      padding: 0 5px;
      margin-left: 26px;
      hr {
        background-color: $blue;
        width: 100px;
        margin-top: 5px;
        margin-left: 0;
      }
    }

  }
}
