// module 'Mod Content Design'
.mod-content-design {
  margin-top: 100px;
  background-color: #e4f3fa;
  h5,
  h6 {
    margin-bottom: 0;
  }
}
.design-text {
  hr {
    width: 100px;
    margin: 30px 0;
    background-color: $blue;
  }
}
.desgin-slide {
  button {
    color: $blue;
  }
}
.bg-slide {
  padding-bottom: 62.34%;
}
@include media-breakpoint-down(lg) {
  .mod-content-design {
    padding: 36px 0;
    .bg-slide {
      margin-top: 20px;
    }
  }
  .design-text {
    padding: 0;
  }
  .design-text-title {
    padding: 20px 46px;
    hr {
      margin: 17px 0;
    }
  }
  .ds-slide-img {
    img {
      max-height: 234px;
      width: 100%;
    }
  }

  .desgin-text-content {
    padding: 12px 45px;
    h6 {
      color: $black;
      line-height: 1.5;
    }
  }
  .ds-text-items {
    padding: 15px 0;
  }

  .btn-design-left,
  .btn-design-right {
    @include sizeEx(33px);
    margin: 8px 0;
  }

  .btn-design-left {
    @include position(absolute,null,null,0,40%,5);
  }
  .btn-design-right {
    @include position(relative,null,null,null,50%,null);
  }
}
