// module 'Mod Content Image'

@include media-breakpoint-down(lg) {
  .content-slide {
    min-height: 214px;
    h2{
      @include font($jt, 1.75rem, $white, 600);
      letter-spacing: .14px;
      z-index: 5;
      padding: 0 30px;
    }
  }
  .text-slide {
    padding: 38px 30px 0;
    max-width: 568px;
    hr {
      margin: 19px 0;
    }
  }
  .bg-image-mb {
    position: absolute;
    top: 0;

    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
