// module 'Mod Banner'

.mod-banner {
  @include position(relative, auto, null, null, null, 12);

  &::before {
    content: "";
    height: 100%;
    @include position(absolute, 0, 0, auto, 0, 2);
    @include background-size(cover);
    background-image: linear-gradient(to top, rgba(238, 238, 238, 0) -12%, #ffffff 83%);
  }
  &::after {
    content: "";
    height: 100%;
    @include position(absolute, 0, 0, 0, 0, 1);
    @include background-size(cover);
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 12%, #1e5091 107%);
  }
  .container {
    @include position(relative, null, null, null, null, 2);
  }
  .banner-text {
    margin: 48px 1px 0 23px;
  }
}
@include media-breakpoint-down(lg) {
  .mod-banner {
    text-align: center;
  }
  .banner-content {
    padding: 190px 0 105px;
    p {
      color: $black;
      line-height: 1.31;
      letter-spacing: -.11px;
    }
  }
  .banner-text {
    padding: 0 8px;
    margin: 46px 20px 0 22px;
  }
  .btn-banner {
    input {
      padding: 10px 20px;
      min-width: 271px;
      margin: 70px 0 59px;
      font-size: .875rem;
    }
    button {
      // margin-top: 43px;
      @include sizeEx(33px);
    }
  }
  .title_banner {
    img {
      max-width: 285px;
      @include sizeEx(100%, auto);
    }
  }
}
