@include media-breakpoint-up(lg) {
  .mod-content-image {
    .content {
      .content-text {
        padding: 30px 60px;
        .text-slide {
          padding: 103px 7px;
          max-width: 568px;
        }
        hr {
          @include sizeEx(100px,1px);
          border: none;
          background-color: $blue;
          margin: 30px 0;
        }
      }
    }
    .content-slide {
      max-width: 920px;
      width: 100%;
      h2 {
        margin-right: -15px;
        font-weight: 600;
        min-width: 342px;
        line-height: .7;
        letter-spacing: -.33px;
      }
    }
  }
}
