@include media-breakpoint-up(lg) {
  .mod-content-about {
    padding: 100px 0;
    .about-note {
      width: 81%;
      .about-note-text {
        padding: 122px 100px;
        left: 97px;
        top: 7px;
        #img-top {
          position: absolute;
          top: -25px;
          right: 45%;
        }
        h4 {
          @include font($jt, 28px, #1e5091, 600);
        }
        #img-bottom {
          position: absolute;
          bottom: -30px;
          right: 45%;
        }
      }
    }
    .img-about {
      background-image: url(../images/POR03-Option-1_Birds-Eye-768x412.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      max-width: 312px;
      width: 100%;
    }
    .about-slide {
      box-shadow: 0 0 5px 1px $gray-100;
    }
    .ab-slide-btn {
      img {
        padding-top: 25px;
        margin-left: 26px;

        max-width: 35px;
      }
      p {
        margin: 32px 18px;
      }
      a {
        color: $darkblue;
      }
    }
    .about-info {
      .container {
        max-width: 1320px;
      }
      .about-tile {
        text-align: center;
      }
      .ab-slide-info {
        padding: 56px 21px 14px 10px;
      }
      .about-text {
        margin-left: 15px;
        .card {
          padding: 0 25px 1px;
        }
      }
    }
    .info-main-content {
      position: relative;
      transform: translateX(2vw);
    }
    .card-body {
      h6 {
        padding-top: 40px;
      }
      p {
        padding-top: 40px;
      }
    }
  }
}
