@include media-breakpoint-up(lg) {
  .mod-content-about {
    padding: 100px 0;

    .about-note {
      margin-right: 550px;
      .about-note-text {
        padding: 50px 100px;
        #img-top {
          position: absolute;
          top: -25px;
          right: 45%;
        }
        #img-bottom {
          position: absolute;
          bottom: -30px;
          right: 45%;
        }
      }
    }
    .about-slide {
      box-shadow: 0 0 5px 1px $gray-100;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .ab-slide-btn {
      img {
        padding-top: 10px;
        margin-left: 20px;
        height: auto;
        max-width: 35px;
      }
    }
    .about-info {
      .about-tile {
        text-align: center;
      }
      .ab-slide-info {
        padding: 28px;
      }
      .about-text {
        .card {
          padding: 33px 10px;
        }
      }
    }
  }
}
