@include media-breakpoint-up(lg) {
  .mod-footer-content {
    padding: 97px 0;
    .content-cta {
      .sign-up-cta {
        padding: 59px 11px;
        border-right: 1px solid $white;
        input {
          border: none;
          border-bottom: 1px solid $white;
          padding: 10px 0;
          outline: none;
          width: 73%;
          background: transparent;
          margin-top: 63px;
        }
        button {
          padding: 0 15px;
          @include font($jt, 16px, $white, 600);
          margin-left: 30px;
        }
      }
      .submit-cta {
        padding: 56px 47px 0 92px;
        text-transform: uppercase;
        a {
          margin-top: 51px;
          padding: 15px 20px;
          min-width: 362px;
        }
      }
    }
  }
}
