@include media-breakpoint-up(lg) {
  .mod-content-icon {
    padding: 136px 0 40px;
  }
  .icon-title {
    p {
      width: 55%;
      margin: 35px auto;
      padding: 0 53px;
      font-size: 18px;
    }
    hr {
      margin: 36px auto;
    }
    h2 {
      font-weight: 600;
    }
  }
  .icon-content {
    margin: 0 83px;
    .icon-item {
      padding: 0 36px;
      margin-top: 30px;
    }
    p {
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: -.12px;
    }
    h6 {
      font-weight: 600;
    }
  }
}
