@include media-breakpoint-up(lg) {
  .mod-banner {
    padding: 100px 0 41px;
  }
  .banner-text {
    width: 100%;
    max-width: 712px;
    color: $black;
    margin-top: 25px;
  }
  .banner-content {
    p {
      font-size: rem(18);
      font-weight: 600;
      letter-spacing: -.12px
    }
    a {
      min-width: 210px;
      width: 100%;
      padding: 14px 5px;
      margin-top: 40px;
    }
    img {
      margin: 20px 0;
      max-width: 350px;
      width: 100%;
    }
  }

}

