@include media-breakpoint-up(lg) {
  .mod-content-image {
    .content {
      .content-text {
        padding: 30px 60px;
        .text-slide {
          padding: 80px 0;
          max-width: 568px;
        }
        hr {
          width: 100px;
          height: 1px;
          border: none;
          background-color: $blue;
          margin-left: 0;
        }
      }
    }
  }
}
