@include media-breakpoint-up(lg) {
  .mod-content-icon {
    padding: 136px 0;
  }
  .icon-title {
    p {
      max-width: 495px;
      margin: 0 auto;
      padding: 0;
    }
    hr {
      margin: 36px auto;
    }
    h2 {
      font-weight: 600;
    }
  }
  .icon-content {
    margin: 0 83px;
    .icon-item {
      padding: 0 36px;
      margin-top: 30px;
    }
    h6 {
      font-weight: 600;
    }
  }
}
