@include media-breakpoint-up(lg) {
  .mod-content-design {
    padding: 72px 20px;
    h6 {
      @include font(null, null, $black, 600);
      line-height: 1.1;
    }
  }
  .btn-design-left,
  .btn-design-right {
    margin-top: 5%;
  }
  .btn-design-left {
    @include position(absolute,null,null,0,0,5);
  }
  .btn-design-right {
    @include position(relative,null,null,0,10%,5);
  }
  .ds-text-items {
    padding: 21px 100px 10px 0;
  }
  .design-text {
    padding: 8px 16px;
  }
  .desgin-slide {
    .slick-list {
      @include sizeEx(916px,100%);
    }
  }
  .dg-slide-btn {
    padding: 39px 3px;
    letter-spacing: 10px;
  }
  .ds-slide-img {
    margin-top: -140px;
    margin-left: -31px;
  }
}
