@include media-breakpoint-up(lg) {
  #img-bottom {
    @include position(absolute,null,45%,-30px,null);
  }
  #img-top {
    @include position(absolute,-10%,45%,null,null);
  }
  .about-note-text {
    padding: 125px 50px 125px 100px;
    width: 100%;
    h4 {
      font-size: rem(28);
    }
  }
  .about-note {
    position: relative;
    &::before {
      content: '';
      @include position(absolute,0,0,0,null);
      width: 100vw;
      border: 2px solid $darkblue;
    }
  }
}
