@include media-breakpoint-up(lg) {
  .mod-content-design {
    padding: 55px 20px 50px;

    .design-text {
      padding: 8px 16px;
    }
    h6 {
      @include font($jt, 20px, $black, 600);
      line-height: 1.1;
    }
    .desgin-slide {
      .ds-slide-img {
        margin-top: -126px;
        // height: 100%;
        margin-left: -31px;
      }
      img {
        max-width: 916px;
        // height: 100%;
      }
      .slick-list {
        @include sizeEx(916px,100%);
      }
      .dg-slide-btn {
        padding: 39px 3px;
        letter-spacing: 10px;
      }
    }
    .ds-text-items {
      padding-right: 100px;
    }
    .btn-design-left {
      @include position(absolute,null,null,0,0,5);
    }
    .btn-design-right {
      @include position(relative,null,null,0,10%,5);
    }
  }
}
