@include media-breakpoint-up(lg) {
  .mod-content-design {
    padding: 55px 20px 50px;
    .design-content {
      .design-text {
        padding: 8px 16px

      }
      h6 {
        @include font($jt,20px,#205192);
        line-height: 1.1;

      }
    }
    .desgin-slide {
      .ds-slide-img {
        margin-top: -126px;
        height: 100%;
        margin-left: -31px;
      }
      img {
        max-width: 916px;
        height: 100%;
      }
      .dg-slide-btn {
        padding: 39px 3px;
        letter-spacing: 10px;
      }
    }
  }
}
