@include media-breakpoint-up(lg) {
  .mod-content-image {
    min-height: 638px;
    .container {
      z-index: 2;
    }
  }
  .bg-image-content {
    @include position(absolute,0,0,0,0,1);
    width: calc(50% - 97px);
  }
  .text-slide {
    padding-left: 65px;
    hr {
      @include sizeEx(100px,1px);
      border: none;
      background-color: $blue;
      margin: 40px 0;
    }
  }
  .content-slide {
    max-width: 920px;
    width: 100%;
    h2 {
      margin-left: 81px;
      font-weight: 600;
      letter-spacing: -.33px;
    }
  }
}
