@include media-breakpoint-up(lg) {
  .mod-content-about {
    padding: 100px 0;
  }
  .img-about {
    max-width: 312px;
    width: 100%;
    min-height: 378px;
  }
  .about-slide {
    box-shadow: -1px 1px 24px 9px rgba(28, 155, 214, .16);
  }
  .ab-slide-btn {
    img {
      padding-top: 25px;
      margin-left: 26px;
      max-width: 35px;
    }
    p {
      margin: 32px 18px;
    }
    a {
      color: $darkblue;
    }
  }
  .about-info {
    .container {
      max-width: 1320px;
    }
  }
  .ab-slide-info {
    padding: 56px 10px 30px;

  }
  .about-text {
    padding: 0 30px;
  }
  .card {
    width: 100%;
    padding: 40px 29px 23px;
  }
  .info-main-content {
    position: relative;
    z-index: 5;
    margin-left: 20px;
  }
  .card-body {
    h6 {
      font-weight: 600;
    }
    p {
      padding-top: 21px;
    }
  }
}
