@include media-breakpoint-up(lg) {
  .mod-banner {
    padding: 30px 0;
  }
  .banner-text {
    width: 100%;
    max-width: 712px;
    color: $black;
    margin: 14px 1px 45px 23px
  }
  .banner-content {
    padding: 230px 0 95px;
    p {
      @include font(null,18px,$black,600);
      letter-spacing: -.12px
    }
    a {
      min-width: 210px;
      width: 100%;
      padding: 14px 5px;
      margin-top: 40px;
    }
  }
  .title_banner {
    img {
      max-width: 350px;
      @include sizeEx(100%);
      margin-left: 24px;
    }
  }

}

