@include media-breakpoint-up(lg) {
  #img-bottom {
    @include position(absolute,null,53%,-30px,null);
  }
  #img-top {
    @include position(absolute,-10%,53%,null,null);
  }
  .about-note-text {
    padding: 140px  53px 125px;
    h4 {
      font-size: rem(28);
    }
  }
  .mod-about-note {
    .container {
      position: relative;
      z-index: 2;
      max-width: 1240px;
      &::after {
        content: '';
        @include position(absolute,0,0,0,1);
        width: 100vw;
        border: 2px solid $darkblue;
      }
    }
  }
  .about-note {
    position: relative;
    z-index: 10;
  }
}
